{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% block style %}
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
{% endblock %}
{% block title %}
    {{ book.title }}
{% endblock %}
{% block content %}
    {% include 'layout/navbar.html' %}

    <section class="tw-py-20 tw-border-b ">
        <div class="tw-px-14 md:tw-px-24 xl:tw-px-56">
            <div class="row gx-5">
                <aside class="col-md-6 col-lg-6">
                    <div
                            class="tw-flex tw-justify-center tw-items-center tw-h-full tw-border tw-border-secondary tw-bg-primary tw-py-4">
                        <img src="{{ book.image.url }}">
                    </div>
                </aside>
                <main class="col-md-6 col-lg-6">
                    <div class="ps-lg-3">
                        <h4 class="tw-font-secondary tw-text-lg tw-font-medium tw-tracking-wide tw-mb-2">
                            {{ book.title }}
                        </h4>

                        <div class="tw-flex tw-flex-col  mb-3">
                            <span class="tw-text-sm tw-font-light tw-mb-3">{{ book.author | upper }}</span>
                            <span class="tw-text-base tw-font-new tw-font-normal tw-text-secondary price">₦ {{ book.price| intcomma }}</span>
                        </div>

                        <hr class="mb-2"/>

                        <p class="tw-mb-4">
                            {{ book.description }}
                        </p>
                        <div class="tw-flex tw-flex-col tw-mb-4 tw-gap-1">
                            <p class="tw-text-sm tw-tracking-wider mb-0">Category</p>
                            <span class="tw-px-4 tw-py-2 tw-border tw-border-secondary tw-w-fit">
                                {{ book.category.title }}
                            </span>
                        </div>
                        <div class="tw-flex tw-flex-row tw-items-center tw-gap-3 tw-mb-4">
                            {% if book.in_stock %}
                                <span class="tw-flex tw-relative tw-h-2 tw-w-2 -tw-mt-1 -tw-mr-1 tw-top-0.5">
                                    <span
                                            class="tw-animate-ping tw-absolute tw-inline-flex tw-h-full tw-w-full tw-rounded-full tw-bg-green-400 tw-opacity-75"></span>
                                    <span
                                            class="tw-relative tw-inline-flex tw-rounded-full tw-h-2 tw-w-2 tw-bg-green-500"></span>
                                </span>
                                <span class="tw-text-sm">In Stock, ready to ship</span>
                            {% else %}
                                <span class="tw-flex tw-relative tw-h-2 tw-w-2 -tw-mt-1 -tw-mr-1 tw-top-0.5">
                                    <span
                                            class="tw-animate-ping tw-absolute tw-inline-flex tw-h-full tw-w-full tw-rounded-full tw-bg-red-400 tw-opacity-75"></span>
                                    <span
                                            class="tw-relative tw-inline-flex tw-rounded-full tw-h-2 tw-w-2 tw-bg-red-500"></span>
                                </span>
                                <span class="tw-text-sm">Out of Stock, Available Soon</span>
                            {% endif %}
                        </div>
                        <div class="row mb-4">
                            <!-- col.// -->
                            <div class="col-md-4 col-6 mb-3">
                                <label class="mb-2 d-block tw-tracking-wider tw-text-sm">Quantity</label>
                                <div class="input-group mb-3" style="width: 170px;">
                                    <button
                                            class="btn btn-white tw-border !tw-border-r-0 !tw-border-secondary !tw-rounded-none hover:tw-border-secondary"
                                            type="button" id="button-addon1" data-mdb-ripple-color="dark"
                                            onclick="quan.value = Number(quan.value) - 1" {% if not book.in_stock %}disabled{% endif %}>
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input type="number" id="quan"
                                           class="form-control text-center !tw-border-y !tw-border-x-0 !tw-border-secondary focus: !tw-shadow-none focus:tw-border-secondary"
                                           placeholder="14" aria-label="Example text with button addon" value="1"
                                           min="0"
                                           aria-describedby="button-addon1" {% if not book.in_stock %}disabled{% endif %}/>
                                    <button
                                            class="btn btn-white tw-border !tw-border-l-0 !tw-border-secondary !tw-rounded-none hover:tw-border-secondary"
                                            type="button" id="button-addon2" data-mdb-ripple-color="dark"
                                            onclick="quan.value= Number(quan.value) + 1" {% if not book.in_stock %}disabled{% endif %}>
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% if book.in_stock %}
                            <div class="tw-flex tw-flex-col tw-gap-4">
                                <a href="#" class="btn_no_outline !tw-rounded-none"> Buy now </a>
                                <button id="add_to_cart_btn" data-id="{{ book.bid }}" data-author="{{ book.author }}"
                                        data-title="{{ book.title }}" data-category="{{ book.category.title }}"
                                        data-price="{{ book.price }}"
                                        data-image="{{ book.image.url }}" data-url="{% url 'core:add-to-cart' %}"
                                        class="tw-bg-white tw-text-auth_btn tw-rounded-none tw-p-3 tw-text-sm tw-font-primary tw-border tw-border-auth_btn focus:tw-outline-none tw-text-center focus:tw-border-primary">
                                    <i class="me-1 fa fa-shopping-basket"></i> <span>Add to cart</span>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </main>
            </div>
        </div>
    </section>
    <section class="tw-py-10">
        <div class="tw-flex tw-justify-center tw-mb-8">
            <h1 class="tw-text-3xl tw-tracking-wide">Similar Books</h1>
        </div>
        <div class="tw-flex tw-justify-center tw-items-center tw-px-10">
            <div class="tw-grid  md:tw-grid-cols-4 xl:tw-grid-cols-4 gap-4">
                {% for r_product in related_books %}
                    <div class="tw-flex tw-flex-col tw-p-2 tw-border tw-border-secondary">
                        <a href="{% url 'core:detail' r_product.bid %}">
                            <!-- Image Holder -->
                            <div class="tw-flex tw-justify-center tw-bg-primary tw-py-10">
                                <img src="{{ r_product.image.url }}" alt="book1" class="tw-w-1/2">
                            </div>
                            <div class="tw-flex tw-flex-row tw-px-4 tw-py-3">
                                <div class="tw-w-full md:tw-w-90">
                                    <div>
                                        <h1 class="tw-font-secondary tw-font-medium tw-text-xl  tw-border-b tw-pb-2">
                                            {{ r_product.title }}</h1>
                                    </div>
                                    <p class="tw-font-new  tw-text-sm tw-text-gray-500">{{ r_product.author | upper }}</p>
                                </div>
                                <div class="tw-flex tw-flex-col tw-justify-start tw-items-end tw-ml-auto tw-w-6/12">
                                        <span class="tw-font-primary tw-font-medium tw-text-base md:tw-text-base tw-text-price">₦
                                            {{ r_product.price|intcomma}}
                                        </span>
                                </div>
                            </div>
                            <div class="tw-flex tw-w-full align-content-end mt-auto">
                                <a href="#" data-id="{{ r_product.bid }}" data-author="{{ r_product.author }}"
                                    data-title="{{ r_product.title }}" data-category="{{ r_product.category.title }}"
                                    data-price="{{ r_product.price }}"
                                    data-image="{{ r_product.image.url }}" data-url="{% url 'core:add-to-cart' %}" id="cart_btn"
                                   class="tw-flex tw-px-4 tw-py-1 tw-border tw-border-secondary tw-font-primary hover:tw-bg-secondary !tw-text-secondary tw-justify-center hover:!tw-text-primary tw-w-full tw-transition-all tw-duration-500">
                                    Shop Now
                                </a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
    {% include 'layout/footer.html' %}
{% endblock %}