{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Account

{% endblock %}
{% block content %}
    {% include 'layout/navbar.html' %}
    <section class="tz-flex tw-h-full tz-py-16">
        <div class="tz-flex tz-flex-col tz-gap-8 tz-items-center tz-w-full tz-font-primary">
            <h1 class="tz-text-3xl">My Account</h1>
            <div class="tz-flex tz-flex-col md:tz-flex-row tz-gap-4 tz-w-full md:tz-px-20 lg:tz-px-48 tz-divide-x ">
                <div
                        class="tz-flex tz-flex-row md:tz-flex-col  md:tz-w-1/4 tz-font-medium tz-w-full tz-justify-center md:tz-justify-start">
                    <div class="tz-px-6 tz-py-3 active">
                        Overview
                    </div>
                    <div class="tz-px-6 tz-py-3 inactive">
                        Orders
                    </div>
                </div>
                <div class="tz-w-full md:tz-w-3/4">
                    <div class="tz-flex tz-flex-col tz-gap-3" id="overview">
                        <div class="tz-px-6 tz-py-3 tz-flex tz-flex-col tz-gap-8">
                            <div class="tz-flex tz-justify-between tz-w-full">
                                <h1 class="tz-text-4xl">Welcome {{ user.username }}</h1>
                                <button id="editb"
                                        class="tz-py-2 tz-px-4 tz-border-2 tz-border-transparent tz-bg-auth_btn tz-transition-all tz-ease-in tz-text-white hover:tz-border-2 hover:tz-border-black tz-duration-500">
                                    Edit
                                    Details
                                </button>
                            </div>
                            <div class="tz-flex tz-flex-col md:tz-flex-row tz-gap-20">
                                <div class="tz-flex tz-flex-col tz-gap-4 tz-w-full">
                                    <div class="tz-flex tz-flex-col tz-gap-1">
                                        <label for="username" class="tz-font-medium">Username</label>
                                        <input type="text" id="username" class=" tz-px-4 tz-py-2 tz-border tz-border-black
                                            focus:tz-border-2 focus:tz-border-primary focus:tz-outline-none"
                                               value="{{ user.username }}" disabled>
                                    </div>
                                    <div class="tz-flex tz-flex-col tz-gap-1">
                                        <label for="email" class="tz-font-medium">Email</label>
                                        <input type="text" id="email"
                                               class=" tz-px-4 tz-py-2 tz-border tz-border-black focus:tz-border-2 focus:tz-border-primary focus:tz-outline-none"
                                               value="{{ user.email }}" disabled>
                                    </div>
                                </div>
                                <div class="tz-flex tz-flex-col tz-gap-4 tz-w-full">

                                    <div class="tz-flex tz-flex-col tz-gap-1">
                                        <label for="fname" class="tz-font-medium">FirstName</label>
                                        <input type="text" id="fname" class="tz-px-4 tz-py-2 tz-border tz-border-black
                                        focus:tz-border-2 focus:tz-border-primary focus:tz-outline-none"
                                               value="{{ user.first_name }}" disabled>
                                    </div>
                                    <div class="tz-flex tz-flex-col tz-gap-1">
                                        <label for="lname" class="tz-font-medium">LastName</label>
                                        <input type="text" id="lname"
                                               class="tz-px-4 tz-py-2 tz-border tz-border-black focus:tz-border-2 focus:tz-border-primary focus:tz-outline-none"
                                               value="{{ user.last_name }}" disabled>
                                    </div>

                                </div>
                            </div>
                            <h1>Shipping Details</h1>
                            <div class="tz-grid tz-grid-cols-2 tz-gap-3">

                                <div class="tz-flex tz-flex-col tz-gap-1">
                                    <label for="phone-no" class="tz-font-medium">Phone Number</label>
                                    <input type="number" id="phone-no"
                                           class=" tz-px-4 tz-py-2 tz-border tz-border-black
                                        focus:tz-border-2 focus:tz-border-primary focus:tz-outline-none !tz-appearance-none"
                                           value="{{ address.phone }}" disabled>
                                </div>
                                <div class="tz-flex tz-flex-col tz-gap-1">
                                    <label for="Address" class="tz-font-medium">Address Line</label>
                                    <input type="text" id="Address" class=" tz-px-4 tz-py-2 tz-border tz-border-black
                                        focus:tz-border-2 focus:tz-border-primary focus:tz-outline-none"
                                           value="{{ address.address }}"
                                           disabled>
                                </div>
                                <div class="tz-flex tz-flex-col tz-gap-1">
                                    <label for="country" class="tz-font-medium">Country</label>
                                    <input type="text" id="country" class=" tz-px-4 tz-py-2 tz-border tz-border-black
                                        focus:tz-border-2 focus:tz-border-primary focus:tz-outline-none"
                                           value="{{ address.country }}"
                                           disabled>
                                </div>
                                <div class="tz-flex tz-flex-col tz-gap-1">
                                    <label for="city" class="tz-font-medium">City</label>
                                    <input type="text" id="city" class=" tz-px-4 tz-py-2 tz-border tz-border-black
                                        focus:tz-border-2 focus:tz-border-primary focus:tz-outline-none"
                                           value="{{ address.city }}"
                                           disabled>
                                </div>
                                <div class="tz-flex tz-flex-col tz-gap-1">
                                    <label for="state" class="tz-font-medium">State</label>
                                    <input type="text" id="state" class=" tz-px-4 tz-py-2 tz-border tz-border-black
                                        focus:tz-border-2 focus:tz-border-primary focus:tz-outline-none"
                                           value="{{ address.state }}"
                                           disabled>
                                </div>
                                <div class="tz-flex tz-flex-col tz-gap-1">
                                    <label for="postal-code" class="tz-font-medium">Postal Code</label>
                                    <input type="number" id="postal-code"
                                           class=" tz-px-4 tz-py-2 tz-border tz-border-black
                                        focus:tz-border-2 focus:tz-border-primary focus:tz-outline-none tz-appearance-none"
                                           value="{{ address.zipcode }}" disabled>
                                </div>
                            </div>
                            <h1>Order Analysis</h1>
                            <div class="tz-flex tz-flex-col tz-gap-1">
                                <canvas id="myChart" width="100" height="50"></canvas>
                            </div>
                        </div>
                        <div class="tz-flex tz-w-full tz-justify-end tz-px-6 ">
                            <button id="saveb" data-user="{{ user.id }}"
                                    class="tz-hidden tz-py-2 tz-px-4 tz-border-2 tz-border-transparent tz-bg-auth_btn  tz-text-white ">
                                Save
                            </button>
                        </div>
                    </div>
                    <div class="tz-hidden tz-flex-col tz-gap-3" id="orders">
                        <div class="md:tz-px-6 tz-py-3 tz-flex tz-flex-col tz-gap-8">
                            <h1 class="tz-text-4xl">Your Orders</h1>
                            <table class="tz-table-auto">
                                <thead class="tz-bg-zinc-300 tz-rounded-t">
                                <tr>
                                    <th>
                                        S/N.
                                    </th>
                                    <th>
                                        Date Ordered
                                    </th>
                                    <th>
                                        Paid Status
                                    </th>
                                    <th>
                                        Total Amount
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="tz-divide-y">
                                {% for o in orders %}
                                    <tr>
                                        <td>{{ o.id }}</td>
                                        <td>{{ o.order_date }}</td>
                                        {% if o.paid %}
                                            <td>Paid</td>
                                        {% else %}
                                            <td>Not Paid</td>
                                        {% endif %}
                                        <td>₦{{ o.total_amount|intcomma }}</td>
                                        <td><a href="{% url 'core:order-details' o.id %}">View</a></td>
                                        {% if not o.paid %}
                                            <td><a href="{% url 'core:delete-order' o.id %}">Delete</a></td>
                                        {% else %}
                                            <td>Already Paid</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    {% include 'layout/footer.html' %}
    <script>
        const saveBtn = document.querySelector('#saveb');
        const inputs = document.querySelectorAll('input');
        const editBtn = document.querySelector('#editb');
        const overview = document.querySelector('#overview');
        const orders = document.querySelector('#orders');
        const overviewBtn = document.querySelector('.active');
        const ordersBtn = document.querySelector('.inactive');

        // Function to handle edit button click
        // Function to get CSRF token from cookies
        function getCSRFToken() {
            const csrfTokenCookie = document.cookie.split('; ')
                .find(cookie => cookie.startsWith('csrftoken='));
            if (csrfTokenCookie) {
                return csrfTokenCookie.split('=')[1];
            } else {
                console.error('CSRF token not found in cookies');
                return null;
            }
        }


        function handleEditClick() {
            inputs.forEach(input => {
                input.disabled = false;
            });
            toggleVisibility(saveBtn);
            toggleVisibility(editBtn);
        }

        // Function to handle save button click
        function handleSaveClick() {
            const formData = {};
            formData['username'] = document.querySelector('#username').value;
            formData['email'] = document.querySelector('#email').value;
            formData['first_name'] = document.querySelector('#fname').value;
            formData['last_name'] = document.querySelector('#lname').value;
            formData['phone_no'] = document.querySelector('#phone-no').value;
            formData['address'] = document.querySelector('#Address').value;
            formData['country'] = document.querySelector('#country').value;
            formData['city'] = document.querySelector('#city').value;
            formData['state'] = document.querySelector('#state').value;
            formData['zip_code'] = document.querySelector('#postal-code').value;


            fetch('/app/edit_profile/', {
                method: 'POST',
                body: JSON.stringify(formData),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken()
                }
            })
                .then(response => {
                    if (response.ok) {
                        inputs.forEach(input => {
                            input.disabled = true;
                        });
                        toggleVisibility(saveBtn);
                        toggleVisibility(editBtn);
                    } else {
                        console.error('Error saving profile');
                    }
                })
                .catch(error => {
                    console.error('Error saving profile:', error);
                });
        }

        // Function to toggle visibility of an element
        function toggleVisibility(element) {
            element.classList.toggle('tz-hidden');
            element.classList.toggle('tz-flex');
        }

        // Function to handle overview button click
        function handleOverviewClick() {
            overview.classList.remove('tz-hidden');
            orders.classList.add('tz-hidden');
            overviewBtn.classList.add('active');
            ordersBtn.classList.remove('active');
        }

        // Function to handle orders button click
        function handleOrdersClick() {
            overview.classList.add('tz-hidden');
            orders.classList.remove('tz-hidden');
            overviewBtn.classList.remove('active');
            ordersBtn.classList.add('active');
        }

        // Event listeners
        editBtn.addEventListener('click', handleEditClick);
        saveBtn.addEventListener('click', handleSaveClick);
        overviewBtn.addEventListener('click', handleOverviewClick);
        ordersBtn.addEventListener('click', handleOrdersClick);

    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ monthly_order|safe }},
                datasets: [{
                    label: 'Monthly Orders',
                    data: {{ total_order|safe }},
                    backgroundColor: "rgba(76, 99, 46, 0.5 )",
                    borderColor: "rgba(76, 99,46, 1)",
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}
