<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link type="text/css" rel="stylesheet" href="../output/main.css">
    <!-- Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e5db4d66c0.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="tw-flex tw-flex-col tw-justify-center tw-w-full tw-items-center tw-h-screen tw-bg-primary tw-gap-20">
        <div class="tw-flex tw-items-center tw-flex-col">
            <h1 class="tw-font-extrabold tw-text-7xl">500</h1>
            <p class="tw-font-semibold">Seems there is an error!</p>
        </div>
        <img src="assests/main/error/500.svg">
        <a href="#">
            <div
                class="tw-flex tw-flex-row tw-w-fit tw-py-1 tw-border-b-2 tw-border-secondary tw-gap-2 tw-items-center">
                <img src="assests/main/back_404.svg">
                <div class="tw-flex tw-gap-1 tw-font-primary tw-font-medium">
                    <span>Go</span><span>Home</span>
                </div>
            </div>
        </a>
    </div>
</body>

</html>